# Секреты
.env
*.env
auth.json

# Логи и отчеты
*.log
logs/
reports/
traces/
test-results/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
.venv/
build/
dist/

# Данные браузера
.auth/
user_data/

# IDE
.vscode/
.idea/